@import url(../fonts/vazir.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    /* font-family: Vazir; */
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 100%;
}

header,
main,
footer {
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.m-auto {
    margin: auto
}

.btn-color {
    background: #3183FF;
    color: white;
}

.btn-color:hover {
    background: #035add;
    color: white;
}

.radius-24 {
    border-radius: 24px;
}

.m-bottom-5 {
    margin-bottom: 5px !important;
}

input:checked {
    background: black;
}

.font-weight-700 {
    font-weight: 700;
}

.image.is-115x115 {
    height: 115px;
    width: 115px;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3B4256;
    border-radius: 50%;
    outline: none;
}

input[type='radio']:hover {
    box-shadow: 0 0 5px 0px rgb(134, 134, 134) inset;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: auto;
    border-radius: 50%;
    margin-top: 3px;
}

input[type='radio']:checked:before {
    background: #3B4256;
}

input:checked {
    background: none;
}