@import url(../fonts/vazir.css);
body,
button,
input,
optgroup,
select,
textarea {
    direction: rtl;
    font-family: 'Vazir';
}

.m-auto {
    margin: auto
}

.btn-color {
    background: #3183FF;
    color: white;
}

.btn-color:hover {
    background: #035add;
    color: white;
}

.radius-24 {
    border-radius: 24px;
}

.m-bottom-5 {
    margin-bottom: 5px !important;
}

input:checked {
    background: black;
}

.font-weight-700 {
    font-weight: 700;
}

.image.is-115x115 {
    height: 115px;
    width: 115px;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3B4256;
    border-radius: 50%;
    outline: none;
}

input[type='radio']:hover {
    box-shadow: 0 0 5px 0px rgb(134, 134, 134) inset;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: auto;
    border-radius: 50%;
    margin-top: 3px;
}

input[type='radio']:checked:before {
    background: #3B4256;
}

input:checked {
    background: none;
}